<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title>Add a movie</title>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="addMovie" method="POST">
  <p>Movie Title: <input type="text" name="movieTitle"/></p>
  <br>
  <p>Maturity Rating: <input type="text" name="maturityRating" /></p>
  <br>
  <p>Genre: <input type="text" name="genre" /></p>
  <br>
  <p><input type="submit" value="Submit" /></p>
</form>
<a href="/">Home</a>
</body>
</html>